<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{pendingTodos}}</strong> pending todos</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li *ngFor="let posibleFilter of posibleFilters">
            <a href="#/" [class.selected]="posibleFilter === currentFilter" (click)="setCurrentFilter(posibleFilter)">
                {{ posibleFilter | titlecase }}
            </a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="clearCompletedTodo()">Clear completed</button>
</footer>